<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">LISTE DES TACHES</h1>
    <a HREF="/create" class="btn btn-primary">CREATE</a>
    <table class="table">
        <thead class="table-header table-sub-heading-color">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody class="table-info table-active table-sub-heading-color">
        <tr th:each="tache : ${tacheList}">
            <td th:text="${tache.title}"></td>
            <td th:text="${tache.description}"></td>
            <td th:text="${tache.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="/Assets/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
</html>